<section class="flex-container">
  <h2><b>About Us</b></h2>
  <div class="row">
    <div class="col-1 column" style="float: left; max-width: 500px;">
      <img class="aboutImg" src="src\assets\images\hardside-upholstered.png">
    </div>
    <div class="col-2 column">
      <p style="padding-left: 20px;">
        H<sub>2</sub>O Beds have been operating out of Leeds, UK for over 30 years and provide waterbed fitting, removals
        and services throughout the North of England.
      </p>
    </div>

  </div>
</section>
