/* #header {
  background-color: rgb(159, 214, 248);
} */
.nav-tabs {
  border-bottom-width: 1px;
  border-bottom-color: rgba(78, 78, 78, 0.61);
}
.nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: rgba(78, 78, 78, 0.61);
}
.nav a:visited, a:link {
  /* background-color: rgba(51, 102, 153, 0.527); */
  background-color: rgba(51, 102, 153, 0.856);
  color: white;
}
.nav a:hover {
  color: black;
  background-color: #cfd8dc;
}
.nav a.active {
  color: rgba(51, 102, 153, 0.856);
  font-weight: bolder;
  background-color: white;
}
ul {
  list-style: none;
}

#phone-header {
  text-align: right;
  font-size: 220%;
  font-weight: normal;
  color: rgb(220, 110, 20);
}
