<div id='header'>
  <h1 style="text-align:left">
    H<sub>2</sub>O BEDS   <sub>WATERBED SPECIALISTS</sub>
  </h1>
  <h1 id="phone-header">{{contact.phone}}</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
    </li>
  </ul>
</div>
