<section class="flex-container">
  <h2><b>Services</b></h2>
  <p>We provide a number of services for your convenience:</p>
  <ul>
    <li *ngFor="let service of services">
      <div>
        <h2><b>{{service.title}}</b></h2>
        <div class="row">
          <div class="col-1 column" style="float: left; max-width: 500px;">
            <img class="serviceImg" src={{service.img}}>
          </div>
          <div class="col-2 column">
            <p style="padding-left: 20px;">{{service.description}}</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
