@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Application-wide Styles */
h1 {
  color: #369;
  font-family: 'Anton', sans-serif;
  font-size: 250%;
  font-weight: bolder;
}
h2, h3 {
  color: #444;
  font-family: 'Anton', sans-serif;
  font-weight: bold;
  font-size: 150%;
}
body {
  margin: 2em;
  background-color: rgb(214, 223, 231);
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: 'Roboto', sans-serif;
}
section {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 20px;
  padding-bottom: 40px;
}
li {
  list-style: none;
}
